@import 'variables';
@import 'nav.scss';

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

@each $value in $percentages {
  $percent: percentage($value/100);

  .h-#{$value} {
    height: $percent;
  }
}
