////////////////////////////////
    //Colors//
////////////////////////////////
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$dark: #222;
$red: #b94a48;


////////////////////////////////
    //Maths//
////////////////////////////////
$percentages: 0, 25, 50, 100;
